<h1> main page</h1>

<% if @user %>
 <div class = "alert alert-info">
     <%= "Logged in as " +  @user.firstName %> 
 </div>
 
  <%= button_to "Logout", logout_path, method: :delete %>
 <% end %>
 
 <%= button_to "connect twitter", "/auth/twitter", method: :post, class:"btn btn-primary"%>
 
<%= button_tag "save", {id: "save-button", onClick: "myFunction('save-button')", class: " btn btn-primary"} %>

<h3><%= cookies[:save] %> Hi</h3>

 
