<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->

<%= render 'shared/header' %>

<!-- Close Header -->


<!-- Start Banner Hero -->
<%# <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active"> %>
            <%# <div class="container">
                <div class="row p-5"> %>
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <%# <img class="img-fluid" src="images/banner_img_01.jpg" alt=""/> %>

                        <% @maxRandomChecks = 0 %>
                        <% @ab = true %>

                        <% while @saveds.GetTotalSavedItems < @items.GetTotalItems %>

                            <% @items.GetRandom.each do |randomItem| %>

                                <% @foundItem = Saved.where(item_id: Item.find(randomItem.id)) %>

                                <% if @foundItem == [] %>

                                    <%= image_tag randomItem.image, :width => '500' %>
                                    <br>
                                    <%= randomItem.title %>
                                    <br>
                                    $<%= randomItem.price %>
                                    <br>

                                    <input type="button" value="Save me" id="<%= randomItem.id %>" class="random_item_id"
                                    onclick="saveRandomItem(<%= randomItem.id %>)"></input>

                                    <%= puts "ITEM WASN'T FOUND TO BE SAVED. SO RENDERED. BREAKING WHILE." %>
                                    <% @ab = false %>
                                    <% break %>

                                <% else %>

                                    <%= puts "BEFORE max random check" %>

                                    <% @maxRandomChecks += 1 %>

                                <% end %>
                            
                            <% end %>

                            <% if @ab == false %>
                                <% break %>
                            <% end %>

                            <% @maxRandomChecks += 1 %>

                        <% end %>

                    </div>
                    <%# <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                            <h3 class="h2">Tiny and Perfect eCommerce Template</h3>
                            <p>
                                Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1). 
                                This template is 100% free provided by <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">TemplateMo</a> website. 
                                Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and
                                <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="images/banner_img_02.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Proident occaecat</h1>
                            <h3 class="h2">Aliquip ex ea commodo consequat</h3>
                            <p>
                                You are permitted to use this Zay CSS template for your commercial websites. 
                                You are <strong>not permitted</strong> to re-distribute the template ZIP file in any kind of template collection websites.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="images/banner_img_03.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Repr in voluptate</h1>
                            <h3 class="h2">Ullamco laboris nisi ut </h3>
                            <p>
                                We bring you 100% free CSS templates for your websites. 
                                If you wish to support TemplateMo, please make a small contribution via PayPal or tell your friends about our website. Thank you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div> %>
<!-- End Banner Hero -->


<hr>



<hr>


<!-- Popular -->
<section class="container py-2">
    <div class="row pt-2">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Popular</h1>
        </div>
    </div>
    <div class="row">
        <% @items.GetPoplularItems.each do |popItem| %>
            <div class="row">
                <div class="col-12 col-md-4 p-5 mt-3">
                
                    <% @saveMeButton = "" %>
                    <% @isSaved = Saved.where(item_id: Item.find(popItem.id)) %>
                    <% if @isSaved == [] %>
                        <% @saveMeButton = "Save me" %>
                    <% else %>
                        <% @saveMeButton = "Unsave" %>
                    <% end %>

                    <%= image_tag popItem.image, :width => '200' %>
                    <br>
                    <%= popItem.title %>
                    <br>
                    $<%= popItem.price %>
                    <br>
                    
                    <input type="button" value="<%= @saveMeButton %>" id="<%= popItem.id %>" class="item_id" onclick="saveItem(<%= popItem.id %>)"></input>
                    
                    <%# <%= link_to saved_text, saveds_update_path(item: popItem), id: 'item_id' %>
                                    
                    <%# <a href="#"><img src="images/category_img_01.jpg" class="rounded-circle img-fluid border"></a> %>
                    <%# <h5 class="mt-3 mb-3">Watches</h5>
                    <p><a class="btn btn-success">Go Shop</a></p> %>
                </div>
            </div>
        <% end %>
        <%# <div class="col-12 col-md-4 p-5 mt-3"> %>
            <%# <a href="#"><img src="images/category_img_02.jpg" class="rounded-circle img-fluid border"></a> %>
        <%# </div> %>
        <%# <div class="col-12 col-md-4 p-5 mt-3"> %>
            <%# <a href="#"><img src="images/category_img_03.jpg" class="rounded-circle img-fluid border"></a> %>
        <%# </div> %>
    </div>
</section>
<!-- End Popular -->


<hr>


<!-- Start Collections -->
<section>
    <div class="container py-2">
        <div class="row py-2">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Collections</h1>
                <%= link_to "see all +", home_women_path, class: "h4" %>
            </div>
        </div>
        <div class="row">
            <div class="collections-cards-women">
                <%# <div class="card h-100"> %>
                    <a href="/home/women">
                        <img src="images/women_collections_card.jpg" class="card-img-top" alt="Collections women">
                    </a>
                    <%= @items.CountRowsWomen %>

                    <%# <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div> %>
                <%# </div> %>
            </div>
            <div class="collections-cards-men">
                <a href="/home/men">
                    <img src="images/men_collections_card.jpg" class="card-img-top" alt="Collections men">
                </a>
                <%= @items.CountRowsMen %>
            </div>
            <div class="collections-cards-newins">
                <a href="/home/newins">
                    <img src="images/newins.jpeg" class="card-img-top" alt="Collections new-ins">
                </a>
                <%= @items.CountRowsNewins %>
            </div>
            <div class="collections-cards-kids">
                <a href="/home/kids">
                    <img src="images/kids_collections_card.jpg" class="card-img-top" alt="Collections kids">
                </a>
                <%= @items.CountRowsKids %>
            </div>
        </div>
    </div>
</section>
<!-- End Collections -->


<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <%# <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Consectetur at ligula 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Luxury</a></li>
                    <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                    <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                    <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                    <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                    <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                    <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>  %>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <%# <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div> %>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control border-light" id="subscribeEmail" placeholder="Email address">
                    <div id="subscribe_id" class="input-group-text btn-success text-light" onclick="subscribe()">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <%# <p class="text-left text-light">
                        Copyright &copy; 2021 Company Name 
                        | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </p> %>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="javascripts/jquery-1.11.0.min.js"></script>
<script src="javascripts/jquery-migrate-1.2.1.min.js"></script>
<script src="javascripts/bootstrap.bundle.min.js"></script>
<script src="javascripts/templatemo.js"></script>

<script>
    function saveItem(item_id) {
        $.ajax({
            url: '/home/update',
            type: 'GET',
            dataType: 'json',
            data: {
                'item' : item_id
            },
            success: function(res) {
                // debugger;
                // console.log(res);
                var saved_status = $('#' + item_id);
                if (saved_status.val() === 'Save me') {
                    saved_status.val('Unsave')
                }
                else if (saved_status.val() === 'Unsave') {
                    saved_status.val('Save me')
                }
                
            }
        });
    }

    function subscribe() {
        var email = $('#subscribeEmail').val();
        var emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if ((email !== "") && email.match(emailRegex)) {
            $.ajax({
                url: '/home/subscribe',
                type: 'GET',
                dataType: 'json',
                data: {
                    'email' : email
                },
                success: function(res) {
                    alert("Subscribed successfully");
                }
            });
        }
        
    }

    function saveRandomItem(random_item_id) {
        $.ajax({
            url: '/home/update',
            type: 'GET',
            dataType: 'json',
            data: {
                'item' : random_item_id
            },
            success: function(res) {
                debugger;
                console.log(res);
                // $('#' + random_item_id).text('')
                history.go(0);
            }
        });
    }
</script>
<%# <script src="javascripts/custom.js"></script> %>
<!-- End Script -->





<style>
.menu-container {
  display: inline-block;
  cursor: pointer;
}
 .bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.collections-cards-women {
    width: 100%;
    height: 300px;
    margin-bottom: 10;
}
.collections-cards-men {
    width: 248px;
    height: 228px;
    margin-bottom: 40;
    margin-top: 10;
}
.collections-cards-newins {
    width: 248px;
    margin-left: 250px;
    margin-top: -227px;
    margin-bottom: 15px;
}
.collections-cards-kids {
    margin-top: -15px;
}
</style>
