<div class="row" style="width: 100%">
  <div class="col-md-10 mt-md-0 mt-3 mx-auto">
    <h2>Your shopping cart</h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag(cart_item.product.imageString, width: '50%') %></td>
            <td><%= cart_item.product.title %></td>
            <td><%= number_to_currency(cart_item.product.price) %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= link_to "Add one", cart_item_add_path(:id => cart_item), method: :post %></td>
            <td><%= link_to "Reduce one", cart_item_reduce_path(:id => cart_item), method: :post %></td>
            <td><%= link_to "Remove item", cart_item_remove_path(cart_item), method: :delete %></td>
            <td><%= @cart.sub_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
