<p id="notice"><%= notice %></p>

<%= image_tag(@product.imageString, class: "img-fluid") %>
<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<div id="div_id">
 <%= render partial: "shared/save_product" %>
 </div>

<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>
