<p id="notice"><%= notice %></p>

<%= image_tag(@product.imageString, class: "img-fluid") %>
<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<div id="div_id">
 <%= render partial: "shared/save_product" %>
 </div>

<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>
<%= form_with local:true, url: cart_items_path(:product_id => @product.id) do |form| %>
<div class="mb-3">
    <%= form.label :size %>
    <%= form.text_field :size, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :colour %>
    <%= form.text_field :colour, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div>
  
  <%end%>

