<!DOCTYPE html>
<html>
  <head>
    <title>Assignment1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </div>
  <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white" href="/">Shop</a>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <li class="nav-item">
        <a class="nav-link text-white" href="/newins">New Arrivals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/men">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/women">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/kids">Kid</a>
      </li>
    </ul>
    
    <hr class="bg-light">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/savedItems">Saved Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/support">Help & Support</a>
      </li>
    </ul>
  </div>
  </nav>
  </header>
  
  <!--<footer class="page-footer font-small blue pt-4 bg-dark">-->
  <!--  <div class="container-fluid text-center text-md-left">-->
  <!--    <div class="row" style="width: 100%">-->
  <!--      <div class="col-md-3 mt-md-0 mt-3">-->
  <!--        <a href="#" style="color: white">Home</a>-->
  <!--      </div>-->
  <!--      <div class="col-md-3 mt-md-0 mt-3">-->
  <!--        <a href="#" style="color: white">Scan</a>-->
  <!--      </div>-->
  <!--      <div class="col-md-3 mb-md-0 mb-3">-->
  <!--        <a href="#" style="color: white">Saved</a>-->
  <!--      </div>-->
  <!--      <div class="col-md-3 mb-md-0 mb-3">-->
  <!--        <a href="#" style="color: white">Account</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</footer>-->
  
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">

    <ul class="navbar-nav  justify-content-between w-100 footer">
     
  
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Scan</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/savedItems">Saved</a>
      </li>


      <li class="nav-item ">
        <a class="nav-link" href="/account">Account</a>
      </li>
    </ul>



  </nav>

  </body>
</html>
